<!DOCTYPE html>
<html>
<head>
	<style type="text/css">    
     .adj1{
        width:50px;
      }     
      #cancel{
        float:right;
      } 
	</style>
</head>
<body>
<h1 id="hello">he<span style="color:red;">ll</span>o <%=current_user.name%></h1>
<!--sign out button start--> 
  <%= link_to  user_sign_out_path,:class=>"btn btn-primary",:id=>"logout" do%>
    <span> Logout</span>
  <%end%>

  <div id="cancel">
  <%= form_tag(person_billcancel_path ,method: :post) do%>
    <%=label_tag :billno%>
    <%=text_field_tag :billno%>
    <%=submit_tag "BILL-CANCEL",:class=>"btn btn-danger"%>
  <%end%>
  </div><br>
<p hidden id="hos_name" style="text-align:center;font-size:20px;font-weight:bold;"></p><br>
<!--signout button stop-->
<%@bill_no=Time.now.to_i%>
<p hidden id="bill_no" value=<%=@bill_no%>><span style="font-weight:bold;">Bill No:</span><%=@bill_no%></p>
<%@p=Tempperson.find(1)%>
<%if @p.name ==""%>
<%= form_for @person,:url=>person_bill_path ,method: :post do |e|%>
   <%=e.label :name%>:-
   <%=e.text_field :name%>
   <%=e.label :age%>:-
   <%=e.text_field :age,:class=>"adj1"%>
   <%=e.label :gender%>:-
   <%=e.text_field :gender,:class=>"adj1"%>
   <%=select("bench", "bench", options_for_select([["bpl", "bpl"], ["apl", "apl"],["other","other"]]), {prompt: 'select category'})%>
   <%=e.label :opno%>:-
   <%=e.text_field :opno,:class=>"adj1"%>
   <%=e.label :ipno%>:-
   <%=e.text_field :ipno,:class=>"adj1"%>
   <%=e.label :wardno%>:-
   <%=e.text_field :wardno,:class=>"adj1"%><br>
   <%=e.label :address%>:-
   <%=e.text_field :address%>
   <%=e.submit "process",:class=>"btn btn-success",:id=>"submit"%>
<%end%>
<%else%>
  <label>Name:-    </label>  <span><%=@p.name%></span>
  <label>Age:-     </label>  <span><%=@p.age%></span>
  <label>gender:-  </label>  <span><%=@p.gender%></span>
  <label>category:-  </label>  <span><%=@p.bench%></span>
  <label>opno:-    </label>  <span><%=@p.opno%></span>
  <label>ipno:-    </label>  <span><%=@p.ipno%></span>
  <label>wardno:-  </label>  <span><%=@p.wardno%></span>
  <label>address:- </label>  <span><%=@p.address%></span>
<%end%>
  <br><br>
  <table class="table table-bordered" id="table-add">
    <thead>
      <tr><th>Category</th><th>Equipment</th><th>Qty</th><th>Unit Cost</th><th>Total Cost</th><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <th><%= collection_select(nil, :category_id, @categories, :id, :type_name, {:prompt => "Select a Category"},{:id=>'category_select',autofocus: true})%></th>
        <th><%= collection_select(nil, :equip_id, @equips, :id, :name, {:prompt => "Select an equipment"},{:id=>'equip_select'})%></th>
        <th><%=number_field_tag :quantity,1,{:class=>"quantity"}%></th>
        <th id="show_price"></th>
        <th id="total"></th>
        <%= hidden_field_tag :flag,"set"%>
        <th><button id="clk" class="btn btn-primary">Add To Bill</button></th>
      </tr>
    </tbody>
  </table>
  <div id="bill">
    <table class="table table-bordered" style="border-bottom:1px solid black;">
      <thead>
        <th>Category</th>
        <th>Equipment</th>
        <th>Qty</th>
        <th>Unit Cost</th>
        <th>Total Cost</th>
        <th></th>
      </thead>
      <tbody class="bill_item">
      <% @val=Temp.all%>
      <%@val.each do |d|%>
      <tr>
        <td><%=d.category%></td>
        <td><%=d.equip%></td>
        <td><%=d.qty%></td>
        <td><%=d.unit_price%></td>
        <td><%=d.total_price%></td>
        <td><%=link_to 'Delete',"/delete_item/#{d.id}",method: :post,:class=>"btn btn-small btn-danger",:id=>"delete"%></td>
      </tr>
      <%end%>
      <tr><td style="font-weight:bold;">Total</td><td></td><td></td><td></td><td style="font-weight:bold;">&#8377;<%=Sum.find(1).total%></td></tr>
      <br><br>
      </tbody>
    </table>
    </div>
  <%=link_to 'PRINT',receptionnist_print_path,method: :post,:class=>"btn btn-info",:id=>"print"%>
  <%=link_to 'CANCEL',receptionnist_cancel_path,method: :post,:class=>"btn btn-danger"%>
 <script type="text/javascript">
  $(document).ready(function(){
    $('#category_select').change(function(){
     $.ajax({
      url: "<%= update_equip_path %>",
      data :{
        category_id: $("#category_select").val()
      },
      dataType:"script"
     });
    });
   $('#equip_select').change(function(){
      $.ajax({
        url:"<%=cost_select_path%>",
        data:{
          equip_id: $('#equip_select').val()
        },
        dataType: "script"
      });
   });
   $('.quantity').change(function(){
      var x=parseFloat($('#unit_price').val());
      var y=parseFloat($(this).val());
      x=x*y;
      $('#total_price').val(parseFloat(x).toFixed(2));
   });
  $('#clk').on("click",function(){
    if($('#unit_price').val()!=""&&$("#total_price").val()!="")
    {
     $.ajax({ 
      url: "<%= temp_add_path %>",
      data:{
        category_id : $('#category_select').val(),
        equip_id : $('#equip_select').val(),
        quantity : $('.quantity').val(),
        unit_cost : $("#unit_price").val(),
        total_cost : $('#total_price').val(), 
      },
      dataType:"script"
    });
   }
    window.reload();
  });
  $('#print').on("click",function(){
     $.ajax({
      url:"<%= receptionnist_billno_path%>",
      data:{
        bill_no:"<%=@bill_no.to_s%>"
      },
      dataType:"script"
     });
     $('#table-add').hide();
     $('body').css('font-size','16px');
     $('input').css('border','0px');
     $('#hos_name').show().text("MAVELIKKARA DISTRICT HOSPITAL");  
     $('.btn').hide();
     $('#bill').animate({
      'marginTop':"-=60px"
     });
     $('#bill_no').show();  
     $("#hello").hide();
     $(this).hide();
     $("#submit").hide();
     $("#logout").hide();
     window.print();
  });
});
</script>
</body> 
</html> 